{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
    <h1>News</h1>
     <hr>
    <h2>Business</h2>
    <hr>
    <div class="box">
        {{macro.displayInfo(business)}}
    </div>
    <h2>General </h2>
    <hr>
    <div class="box">
        {{macro.displayInfo(general)}}
    </div>
    <h2>Entertainment</h2>
    <hr>
    <div class="box">
        {{macro.displayInfo(entertainment)}}
    </div>
    <h2>Sports</h2>
    <hr>
    <div class="box">
        {{macro.displayInfo(sports)}}
    </div>
</div>
{% endblock %}